:root {
	--color: #99b898;
	--color-2: #e84a5f;
	--color-fade: grey;
	--bg: #f4f6ff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

span[aria-label="icon"] {
	cursor: pointer;
	text-decoration: none;
	color: #000;
	-webkit-transition: transform .2s ease;
	-moz-transition: transform .2s ease;
	-ms-transition: transform .2s ease;
	-o-transition: transform .2s ease;
	transition: transform .2s ease;
	font-size: 1.2rem;
}

span[aria-label="icon"]:hover {
	-webkit-transform: scale(1.15);
	-moz-transform: scale(1.15);
	-ms-transform: scale(1.15);
	-o-transform: scale(1.15);
	transform: scale(1.15);
}

span[aria-label="icon"]:active {
	-webkit-transform: scale(.87);
	-moz-transform: scale(.87);
	-ms-transform: scale(.87);
	-o-transform: scale(.87);
	transform: scale(.87);
}

.App {
	height: 100vh;
  	display: flex;
  	font-family: Roboto, sans-serif;
}

.App__user-form_container,
.App__users-display {
	height: 100%;
}

.App__user-form_container {
	flex-basis: 47%;
	background-color: var(--bg);
	border-right: 1px solid #ebebeb;
}

form {
	width: clamp(240px, 70%, 420px);
	margin: 170px auto 0 auto;
}

form input {
	width: 100%;

	padding: 17px;
	margin: 10px 0;

	border: 1px solid var(--color-fade);
	border-radius: 6px;
	outline: none;

	font-family: Roboto, sans-serif;

	transition-property: border-color, box-shadow, border-width	;
	transition: all .15s ease-in-out;
}

form input[type="submit"] {
	color: #fff;
	background-color: var(--color);

	letter-spacing: .1rem;
	text-transform: uppercase;
	font-weight: bold;
}

form input:focus {
	border-color: var(--color);
	box-shadow: 0 0 6px #ebebeb;
}

form input:focus::placeholder {
	color: #d2d2d2;
}

.App__users-display {
	flex-basis: 63%;

	display: flex;
	flex-direction: column;
}

.App__users-display > h3 {
	color: #fff;
	background-color: var(--color-2);

	padding: 20px 50px;
	border-bottom: 1px solid #ebebeb;

	text-transform: capitalize;
	font-size: 1.5rem;
	font-weight: normal;
}

.App__users {
	padding: 10px 50px;
	overflow: hidden auto;
}

.App__user-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0;
	margin-top: 10px;
	border-bottom: 1px solid #f0f0f0;
	/*opacity: 0;*/
	transform: 	translateX(-110%);
	animation: pushIn .55s cubic-bezier(0.42, 0, 0.07, 1.21) .1s forwards
}

.App__user-item .icons > *:not(:last-child) {
	margin-right: 30px;
}


.App__user-item__info .email {
	font-weight: normal;
	color: var(--color-fade);
}


@keyframes pushIn {
	to { transform: translateX(0); }
}

@keyframes pushOut {
	to { transform: translateX(110%); }
}
